{% extends 'WCHDApp/masterTemplate.html' %} 
{% load static %} 
{% load custom_filters %} 
{% block title %}Payroll View{% endblock %} 
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'WCHDApp/css/cleanPages.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'WCHDAPP/css/tableStyling.css' %}"
/>
<script src="{% static 'WCHDApp/js/clockifyCalculations.js' %}"></script>
<h1>Payroll View</h1>
<form method="post">
  <select id="payperiodDropdown" name="payperiodDropdown" hx-get="{% url 'calculateActivitySelect' %}" hx-trigger="change">
    <option>Select Pay Period</option>
    {% for choice in payperiodChoices %}
    <!--choice.1 = choice[1]-->
    <option value="{{choice}}">{{choice}}</option>
    {% endfor %}
  </select>
  <select id="fundDropdown">
    <option>Select Fund</option>
    {% for choice in fundChoices %}
    <!--choice.1 = choice[1]-->
    <option value="{{choice.0}}">{{choice.1}}</option>
    {% endfor %}
  </select>

  <select id="activityDropdown">
    <option>Select Activity</option>
    {% for choice in activityChoices %}
    <!--choice.1 = choice[1]-->
    <option value="{{choice.0}}">{{choice.1}}</option>
    {% endfor %}
  </select>

  <select id="employeeDropdown">
    <option>Select Employee</option>
    {% for choice in employeeChoices %}
    <!--choice.1 = choice[1]-->
    <option value="{{choice.0}}">{{choice.1}}</option>
    {% endfor %}
  </select>
</form>
<p id="fundInfo"></p>
<p id="fundActivity"></p>
<p id="fundEmployee"></p>
<p id="totalHourOutput"></p>

<table id="activityTable">
  <tr>
    {% for field in verboseFields %}
    <th>{{field}}</th>
    {% endfor %}
  </tr>
  {% for obj in data %}
  <tr
    data-billamount="{{obj.pay_amount}}"
    data-activityid="{{obj.ActivityList_id}}"
    data-employeeid="{{obj.employee_id}}"
    data-hours="{{obj.hours}}"
    data-fundid="{{obj.ActivityList.fund.fund_id}}"
  >
    {% for field in fields %}
    <td>{{obj|get_attr:field}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
