{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} WCHD {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'WCHDAPP/css/masterStyling.css' %}"> 
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'viewTableSelect' %}">Table View Select</a></li>
            <li><a href="{% url 'reports' %}">Reports</a></li>
            <li><a href="{% url 'imports' %}">Imports</a></li>
            <li><a href="{% url 'exports' %}">Exports</a></li>
            <li><a href="{% url 'transactionsItem' %}">Transactions</a></li>
            <li><a href="{% url 'reconcile' %}">Reconcile</a></li>
            <!--<li><a href="{% url 'clockifyImport' %}">Clockify Import</a></li>-->
            <!--No longer using these and will redirect in our normal view-->
            <!--<li><a href="{% url 'calculateActivitySelect' %}">Clockify View</a></li>-->
            <!--<li><a href="{% url 'createSelect' %}">Create</a></li>-->
        </ul>
    </nav>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>