{% extends "WCHDApp/masterTemplate.html" %}
{% load custom_filters %}


{% block title %} {{tableName}} Data{% endblock %}

{% block content %}
    <table border="1">
        <tr>
            {% for field in fields%}
                <th>{{field}}</th>
            {% endfor%}
        </tr>
        {% for row in data%}
            <tr>
            {% for field in fields%}
                <td>{{row|get_item:field}}</td>
            {% endfor%}
            </tr>
        {% endfor %}
    </table>
{% endblock %}


