{% load custom_filters %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ tableName }} Data</title>
</head>
{{data}}

<h1> Fields </h1>
{{fields}}

<h1>FKeys</h1>
{{fkeys}}

<h1>Set</h1>
{{qSet}}
<table border="1">
    <tr>
        {% for field in fields%}
            <th>{{field}}</th>
        {% endfor%}
    </tr>
    {% for row in data%}
        <tr>
        {% for field in fields%}
            <td>{{row|get_item:field}}</td>
        {% endfor%}
        </tr>
    {% endfor %}
</table>
<a href="{% url 'index' %}">Home</a>



