{% extends "WCHDApp/masterTemplate.html" %}
{% load static %}


{% block title %}Transactions{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'WCHDAPP/css/formStyling.css' %}"> 
    <h1>Transactions</h1>
    <form method="POST" action="{% url 'transactionsFund' %}">
        {% csrf_token %}
        <select name="fundSelect" onchange="this.form.submit()">
            <option default>Select Fund</option>
            {% for fund in funds %}
                <option value="{{fund.fund_id}}">{{fund}}</option>
            {% endfor %}
        </select>
      </form>
{% endblock %}