{% extends "WCHDApp/masterTemplate.html" %}
{% load static %}


{% block title %}Transactions{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'WCHDAPP/css/formStyling.css' %}"> 
    <h1>Transactions</h1>
    <p>Fund: {{fund}}</p>
    <p>Line: {{line}}</p>
    <form method="POST" action="{% url 'transactionsItem' fund line %}">
        {% csrf_token %}
        <select name="lineSelect" onchange="this.form.submit()">
            {% for item in items %}
                <option>{{item}}</option>
            {% endfor %}
        </select>
      </form>
{% endblock %}