{% extends "WCHDApp/masterTemplate.html" %}
{% load static %}


{% block title %}Transactions{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'WCHDAPP/css/formStyling.css' %}"> 
    <script src="{% static WCHDAPP/js/transaction.js"></script>  
    <h1>Transactions</h1>
    <select id="fund">
        <option>Fund</option>
        <option>Items</option>
    </select>
    <p id="output"></p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <button type="submit" name = "button" id="import" value = "import">Import</button>
    </form>
    {{message}}
{% endblock %}