{% extends "WCHDApp/masterTemplate.html" %}
{% load static %}

{% block title %}View Table Select{% endblock %}

{% block content %}   
    <link rel="stylesheet" type="text/css" href="{% static 'WCHDApp/css/cleanPages.css' %}">

    <h1>Table Select</h1>
    
    <form method="post">
    {% csrf_token %}
    {{form}}
    <button type="submit" name = "button" id="seeTable" value = "seeTable">See Table</button>
    <button type="submit" name = "button" id="create" value = "create">Create</button>
    </form>
{% endblock %}
